<!doctype html>
<html lang="en"> <!-- manifest="manifest.appcache" -->
<head>
  <meta charset="utf-8">

  <title>openseeds.io</title>
  <meta name="description" content="A Simple, Free and Open Twitter Client">
  <meta name="author" content="Bill Fisher">

  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0"/>

  <link rel="stylesheet" href="app/css/style.css">

  <script src="app/js/vendor/modernizr/modernizr.custom.18415.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>