<div class="info">
  <p>Tweeting as @<%= @nickname %></p>
  <p class="flash-message"></p>
</div>

<form id="tweet_form" action="">

  <textarea autofocus="true" maxlength="140"></textarea>

  <input id="submit" type="submit" value="send tweet" />

</form>

<div>Seconds until refresh: <span id="refresh_clock"></span></div>

<ul class="tweets"></ul>